@page "/worksheetview"

@using BlazorServerSpike.Data
@inject WorksheetViewService WorksheetViewService

<h1>Worksheet view</h1>

<p>This component render worksheet view data fetched from a service.</p>

@if (sheetView == null) {
    <p><em>Loading...</em></p>
}
else {
    <table class="cell-table">
        <colgroup>
            <col style="width: 26px" />
            @foreach (var column in sheetView.Columns) {
                <col style="@column.GetInlineStyle()" />
            }
        </colgroup>
        <tbody>
            <tr class="column-headers">
                <td>&nbsp;</td>
                @foreach(var column in sheetView.Columns) {
                    <td class="column-header">@column.Header</td>
                }
            </tr>
            @foreach (var row in sheetView.Rows) {
                <tr style="@row.GetInlineStyle()">
                    <td class="row-header">@row.Header</td>
                    @foreach(var cell in row.Cells) {
                        <td class="@cell.GetClassList()">@cell.GetDisplayText()</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WorksheetView sheetView;

    protected override async Task OnInitializedAsync() {
        sheetView = await WorksheetViewService.GetWorksheetViewAsync();
    }
}
